*{
    box-sizing: border-box;
}

body{
    background: #8e44ad;
    color: #f4f4f4;
    font-family: 'Roboto', 'Mulish', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.counter-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
}

.counter{
    font-size: 40px;
    margin-top: 1rem;
}

@media(max-width: 580px){
    body{
        flex-direction: column;
    }
}